.s1 {
    background-image: url("./image02.jpg");
    background-size: 100% 100%;
}

.s2 {
    background-image: url("./image01.jpg");
    background-size: 100% 100%;
}

.s3 {
    background-image: url("./image03.jpg");
    background-size: 100% 100%;
}